/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

/* Requerido */
@include mat.core();

/* Tema */
html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: -2
  ));
}

/* Aplicar a todos los componentes */
// @include mat.all-component-themes($theme);
/* Fin Tema */
html, body { height: 100%; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
