.header-pre-authorized-form {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

lib-button {
  margin-top: 5px;
}

form {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
